h1, h2{
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: white;
    outline: 5px solid white;
    width: fit-content;
    padding: 10px;
    background-color: black;
}
img{
    height: auto;
    max-width: 100%;

    /* styling */
    outline: 5px solid white;
}
h2{
    font-size: 1.5rem;
}
a{
    font-family: "Oswald", sans-serif;
    color: white;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    display: block;
    position: absolute;
    /* do I want to align all the text, or have it sit centered? centered fits more with style, but its harder to read */
    left: 5%;
    bottom: 2%;
    font-size: 1.25rem;
}
body{
    background-image: url('../media/manhattan.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
p{ /* need to find a font for paragraphs! */
    color: white;
    font-family: "Shanti", sans-serif;
    outline: 5px solid white;
    width: fit-content;
    padding: 10px;
    background-color: black;
}

#site-nav{
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    z-index: 200;
}
#site-nav ul{
    list-style: none;
    padding: 1rem;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    align-items: end;
}
#site-nav li{
    outline: 5px solid white;
    background-color: black;
    height: 2rem;
    position: relative;
}

/* INDIVIDUAL NAV ELEMENTS */
#site-nav #one{
    height: 3rem;
}
#site-nav #two{
    height: 2rem;
}
#site-nav #three{
    height: 4rem;
}
#site-nav #four{
    height: 3rem;
}

/* necessary for grid styling 

#initial{
    display: none;
}

@media (min-width: 40em){
    body{
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-auto-rows: 1fr;
        grid-auto-flow: row;
        margin: 0;
        gap: 1rem;
        min-height: 0;
    }
    h1{
        width: 100%;
        padding: 0px;
        grid-column: 2 / span 6;
        grid-row: 2 / span 2;
        border: none;
        display: block;
        outline: 1rem solid white;
        font-size: 6rem;
        margin: 0px;
    }
    #initial{
        display: block;
        grid-column: 1 / span 1; 
        grid-row: 1 / span 1;
        background-color: rgba(0, 0, 0, 0);
        aspect-ratio: 1;
    }
    header{
        display: contents;
    }
    #site-nav{
        display: contents;
    }
    #site-nav ul{
        display: contents;
    }
    #site-nav li{
        outline: 1rem solid white;
    }
    #site-nav #one{
        height: auto;
        grid-column: 11 / span 2;
        grid-row: 3 / span 1;
    }
    #site-nav #two{
        height: auto;
        grid-column: 12 / span 2;
        grid-row: 4 / span 2;
    }
    #site-nav #three{
        height: auto;
        grid-column: 11 / span 3;
        grid-row: 6 / span 3
    }
    #site-nav #four{
        height: auto;
        grid-row: 9;
        grid-column: 11 / span 2;
    }
}
*/
/*Towers page ids */
/*consider, making classes for disjoint text blocks, can apply at will instead of individual ids */
#intro{
    width: 50%;
    margin: auto;
}
.scatter-display{ /*gotta change this name */
    position: relative;
    margin: 1rem auto;
    width: 50%;
}
.scatter-display img{
    display: block;
    width: 100%;
}
.scatter-display div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
}
.scatter-display div:hover{
    opacity: 0.85;
}
.scatter-display h2{
    outline: none;
}
.scatter-display p{
    outline: none;
}
main{
    padding-left: 1rem;
}

/* tower ids */
#world{
    left: -2rem
}
#empire{
    left: 5rem;
}
#vander{
   left: -4rem; 
}
#one-eleven{
    left: 2rem;
}
#two-seventy{
    left: 0rem;
}
/* food ids */
#katz{
    left: 6rem;
}
#pizza{
    left: 0rem;
}
#ivan{
    left: 2rem;
}
#donair{
    left: -4rem;
}
#coffee{
    left: 0rem;
}
#towers-page{ /*merge these if they dont end up differen */
    background-image: none;
    background-color: black;
}
#food-page{
    background-image: none;
    background-color: black;
}
#credits-page{
    background-image: none;
    background-color: black;
}
table{
    display: block;
    width: fit-content;
    margin: auto;
    border: 5px solid white;
    font-family: "Oswald", sans-serif;
    color: white;
    border-collapse: collapse;
    background-color: black; /*can remove if background color stays black */
}
table td, table th{
    border: 1px solid white;
    padding: 0.25rem;
}
form{
    background-color: black;
    color: white;
    border: 5px solid white;
    display: inline-block;
    padding: 1rem;
    margin: auto;
    display: block;
    width: fit-content;
}
form ul{
    list-style: none;
    padding: 0;
}
label{
    display: inline-block;
    text-align: right;
    min-width: 5rem;
}
input, textarea{
    vertical-align: top;
    width: 18rem;
    color: white;
    background-color: black;
     border: 2px solid white;
}
form li{
    margin-bottom: 1rem;
}
form button{
    color: white;
    background-color: black;
    margin: auto;
    display: block;
    border: 2px solid white;
}
form button:hover{
    color: black;
    background-color: white;
}
/* stock image for footer source
https://stock.adobe.com/ca/search?k=new+york+skyline&as_channel=adobe_apps&as_campclass=brand&as_campaign=CC_Pro_Growth_test&as_source=ccd&as_camptype=refresh&as_audience=CCT_CCE&as_content=90plus_Day_Banner&trackingid=RYGDMW1F&mv%5B%5D=in-product&mv%5B%5D=product&guid=e3406d59-d661-494b-ab95-26943d34e75c&product=Creative+Cloud+Desktop&product-version=6.2.0.554&mv2=&expires_in=86399994&asset_id=141493835
*/
#footer-outline{
    outline: none;
    background-color: black;
}
footer p{
    background-color: white;
    width: 100%;
    text-align: center;
    color: black;
    margin: 0;
    padding-bottom: 7rem;
    outline: 6px solid white;
}